<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div class="mainContainer">
      <div class="sectionTitleBar">
        <span class="sectionTitle">
          Rajat Yadav
        </span>
      </div>
      <div class="sectionContent" id="sectionContent">

        <div class="taskListContainer">
          <div class = "taskListTitleBar">
            <span class="taskListTitle">Title1</span>
            <button class="addButton" (click) ="addCard('A')">
              +
            </button>
          </div>
          <div class="taskListContent">
              <div *ngFor="let card of sectionA" 
              [class.selected]="card === selectedCard" 
              (click)="onSelect(card)">
                  <app-card [card]='card' ></app-card>
              </div>
          </div>
        </div>
        
        <div class="taskListContainer">
          <div class = "taskListTitleBar">
            <span class="taskListTitle">Title2</span>
            <button class="addButton" (click) ="addCard('B')">
              +
            </button>
          </div>
          <div class="taskListContent">
              <div *ngFor="let card of sectionB"
              [class.selected]="card === selectedCard" 
              (click)="onSelect(card)">
                  <app-card [card]='card'></app-card>
              </div>
          </div>
        </div>
        <div class="taskListContainer">
          <div class = "taskListTitleBar">
            <span class="taskListTitle">Title3</span>
            <button class="addButton" (click) ="addCard('C')">
              +
            </button>
          </div>
          <div class="taskListContent">
              <div *ngFor="let card of sectionC"
              [class.selected]="card === selectedCard" 
              (click)="onSelect(card)">
                  <app-card [card]='card'></app-card>
              </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="focusTask" id="focusT">
    <app-overlay  [card]='selectedCard'></app-overlay>
  </div>
</body>
</html>
<router-outlet></router-outlet>